* {
    margin: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #131313;
    color: #ffffff;
    text-align: center;
  }

#slogo{
height: 70px;
width:auto;
top: 0;
left: 0;

}

  .a-spotify {
    color: white;
  }

  .a-spotify:hover {
    color: #1ED760;
  }

  header h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
  }
  
  .card-container {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .album {
    margin-top: 20px;
    border-radius: 10px;
    background-color: #bbbbbb;
    min-width: 250px;
    min-height: 300px;
    transition: transform .2s;
  }

  .album_img{
    margin: 5px;
    width: 250px;
    height: 150px;
  }

  .album_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
  }

  .album_name {
    font-size: larger;
    font-weight: 600;
}



  .album_artist {
    font-size: medium;
    font-style: italic;
  }

  .album_info{
    margin: 5px;
    text-align: left;
    color: black;
    width: 95%;
    height: 37.5%;
    display: flex;
    flex-direction: column;
  }

  .album_info p {
    width: 250px;
  }

  .download_link{
    font-size: 25px;
    align-self: center;
    justify-self: center;
    margin-bottom: 20px ;
  }

.download-button{
  background-color: #bbbbbb;
  border: none;
}

.album:hover{
  transform: scale(1.1);
}

  .download-button:hover i{
    cursor: pointer;
    color: #1ED760; 
  }

  
  .download_link a{
    text-decoration: none;
    color: black;
    
  }

  i {
    color: black;
    font-size: large;
    transition: .5s;
  }

  footer {
    margin-top: 4em;
    margin-bottom: 4em;
    font-size: 0.9em;
    color: #888888;
  }
  
  .links{
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .links i {
    margin-top: 5px;
    color: #bbbbbb;  
    font-size: 25px;
    margin-bottom: 5px;
  }

  .bulk-download {
    text-align: center;
    margin: 20px 0;
}

.bulk-download-button {
    padding: 10px 20px;
    background-color: #1ED760;;
    color: black;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bulk-download-button:hover {
    background-color: #0e8437;
    color: white;
}

.disconnect-block {
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  text-align: center;
}

.disconnect-button {
  display: inline-block;
  background-color: #1ED760;;
  color: black;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 0.5rem;
}

.disconnect-button:hover {
  background-color: #0e8437;
  color: white;
}

.privacy_policy{
  color: white;
}

footer p{
  color: #888888;
}

.privacy_policy {
  color: #888888;
}