body {
    font-family: Arial, sans-serif;
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    background-color: #131313;
    color: white;
}

h1 {
    color: #1DB954;
}
a {
    color: #1DB954;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}